# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#ignore aperçus créés par windows
Thumbs.db
#Ignore les fichiers créés par Visual Studio
*.user
*.tlog
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sdf
*.bak
*.cache
*.ilk
*.log
[Bb]in*/
[Dd]ebug*/
*.sbr
obj*/
[Rr]elease*/
_ReSharper*/
x64*/
*.opensdf
*.tlog
*.filters
*.exe
